body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 246, 233); 
    padding: 0;
}
.navbar {
    background-color: #070707;
    overflow: hidden;
    display: flex;
    justify-content: center; 
}
.navbar a {
    display: block;
    color: rgb(231, 222, 222);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase; 
    font-weight: bold; 
}
.navbar a:hover {
    background-color: #f0ff1e;
    color: black;
}
h1 {
    color: #444;
    text-align: left;
}
p {
    color: #000000;
    font-weight: bold; 
    font-style: italic; 
    padding: 20px; 
    margin-left: -10px;
    background-color: hsla(56, 86%, 46%, 0.342); 
    border-radius: 100px; 
    text-align: left; 
}
h2 {
    color: #444;
    text-align: left;
}
ul {
    list-style-type: square;
    color: #030303;
}
.image-container {
    text-align: right;
    position: relative;
    margin-bottom: 50px; 
    padding-top: 10px;
}
.top-right {
    position: absolute;
    top: 0px; 
    right: 0;
}

#pups {
    display: flex;
  }
